
.flex-center {
  @apply flex justify-center items-center;
}
.flex-start {
  @apply flex justify-start items-start;
}
.flex-end {
  @apply flex justify-end items-center;
}
.flex-between {
  @apply flex justify-between items-center;
}

::-webkit-scrollbar {
  width: 11px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--background));
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--foreground));
  border-radius: 120px;
  border: 3px solid hsl(var(--background));
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--foreground));
}

::-webkit-scrollbar-corner {
  background: hsl(var(--background));
}
