@property --volume {
  syntax: "<length>";
  inherit: false;
  initial-value: 0px;
}

.control-tray {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
  gap: 12px;
  font-family: sans-serif;

  button:disabled {
    background-color: var(--muted) !important;
    color: var(--muted-foreground) !important;
    cursor: not-allowed;
    transform: none;

    &:hover {
      transform: none;
    }

    .button-text {
      display: none;
    }
  }
}

.connect-toggle-pill,
.mic-pill,
.visualizer-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1.5px solid var(--border);
  transition: all 0.2s ease-in-out;
  height: 50px;
}

.connect-toggle-pill {
  width: 110px;
  gap: 8px;
  padding: 0 16px;
  background-color: var(--background);
  color: var(--primary);
  cursor: pointer;
  font-weight: 600;
  height: 47px;
  .button-text {
    font-size: 14px;
    margin-top: 3px;
    transition: all 0.2s ease;
  }

  

  &.connected {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--primary-foreground);

    &:hover {
      background-color: oklch(from var(--primary) l calc(c - 0.05) h);
    }
  }
}

.mic-pill {
  position: relative;
  width: 70px;
  background-color: var(--destructive);
  color: var(--destructive-foreground);
  border: none;
  z-index: 1;
  cursor: pointer;
  height: 41px;
 

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: calc(var(--volume) * -1);
    left: calc(var(--volume) * -1);
    right: calc(var(--volume) * -1);
    bottom: calc(var(--volume) * -1);
    background-color: oklch(from var(--destructive) l c h / 0.35);
    border-radius: 9999px;
    transition: all 0.02s ease-in-out;
  }
}

.visualizer-pill {
  width: 80px;
  background-color: var(--muted);
  border-color: transparent;
  padding: 0 10px;

  &.disabled {
    opacity: 0.5;
  }
}
